<!DOCTYPE html>
<html>
  <head>
    <style>
      body{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 500;
font-size: 50px;
      }
      table {
        border-collapse: collapse;
        width: 100%;
        font-size: 70px;
      }

      th,
      td {
        text-align: left;
        padding: 8px;
        
      }

      tr:nth-child(even) {
        background-color: #d6eeee;
        height: 100px;
      }
    </style>
  </head>
  <body>
    <h2>List Of Transplant Co-ordinator</h2>
    <p>
     Refer the following info for Co-ordinator for respective hospitals.
    </p>

    <table>
      <tr>
        <th>Srno</th>
        <th>Co-ordinator NAME</th>
        <th>Contact</th>
        <th>Email</th>
      </tr>
      <% for (i=0;i<cn.length; i++) {%>
      <tr>
          <td><%=i+1%></td>
        <td><%=cn[i]%></td>
        <td><%=cph[i]%></td>
        <td><%=cm[i]%></td>
      </tr>
      <%}%>
    </table>
  </body>
</html>
